<div class="bot-list">
    <!-- contents subject to change, currently mostly a placeholder to improve layout -->
    <span><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">@@workingbot</a></span>
    <span><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">@@workingbot2</a></span>
    <span class="disabled">N/A</span>
    <span>&hellip;more to come?</span>
</div>
